body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 22px;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    border-bottom: 1.5px solid #ddd;
    padding-bottom: 10px;
  }
  
  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  input[type="number"],
  input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
  }
  
  button {
    padding: 12px;
    background-color: #4d4d5a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #373740;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  
  li span {
    font-weight: 700;
    color: #333;
  }
  
  li small {
    color: #777;
    font-size: 14px;
  }
  
  
  li.debit {
    background-color: #f8d7da;
    border-left: 5px solid #dc3545;
  }
  
  li.credit {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
  }
  
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
      width: 90%;
    }
  
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    form {
      flex-direction: column;
    }
  
    input[type="number"],
    input[type="text"],
    select,
    button {
      font-size: 14px;
      padding: 10px;
    }
  }
  